.cb-slider {
  min-height: 150px;
  margin-right: 25px;
  margin-left: 25px;
  border: 1px solid $cb-dark-gray;
  background: $cb-white;

  .slick-prev:before,
  .slick-next:before {
    color: $cb-primary;
    opacity: 0.9;
  }
}

.cb-slide {
  overflow: hidden;
  height: 150px;
  border: 1px solid $cb-dark-gray;
  background-color: rgba(0, 0, 0, .1);
  background-position: center center;
  background-size: cover;

  &.is-selected {
    border: 3px solid black;
  }
}

.cb-slide-add {
  height: 150px;
  background: $cb-dark-gray;
}

.cb-slide-add-button {
  display: flex;
  height: 100%;
  font-size: 45px;
  align-items: center;
  justify-content: center;
}
