.cb-snapshot-slider {
  margin-right: 25px;
  margin-left: 25px;
  border: 1px solid $cb-dark-gray;
  background: $cb-white;

  .slick-prev:before,
  .slick-next:before {
    color: $cb-primary;
    opacity: 0.9;
  }
}

.cb-snapshot-slide {
  display: flex !important;
  overflow: hidden;
  height: 125px;
  border: 1px solid $cb-dark-gray;
  border-top: 0;
  border-bottom: 0;
  align-items: center;
  justify-content: center;

  &:first-child {
    border-left: 0;
  }
}

.cb-snapshot-slide-image {
  width: auto;
  height: 125px;
}

.cb-snapshot-slide-add {
  height: 125px;
  background: $cb-dark-gray;
}

.cb-snapshot-slide-add-button {
  display: flex;
  height: 100%;
  font-size: 45px;
  align-items: center;
  justify-content: center;
}
