.cb-block {
  display: block;
}

.cb-flex {
  display: flex;
}

.cb-relative {
  position: relative;
}

.cb-text-center {
  text-align: center;
}

.cb-flex-vert-center {
  align-items: center;
}

.cb-align-right {
  float: right;
}

.cb-height-full {
  height: 100%;
}

.cb-margin-left-10px {
  margin-left: 10px !important;
}

.cb-margin-right-10px {
  margin-right: 10px !important;
}

.cb-margin-top-10px {
  margin-top: 10px !important;
}

.cb-margin-bottom-10px {
  margin-bottom: 10px !important;
}
