.cb-block {
  display: block;
}

.cb-text-center {
  text-align: center;
}

.cb-align-right {
  float: right;
}

.cb-height-full {
  height: 100%;
}

.cb-margin-right-10px {
  margin-right: 10px !important;
}
