.cb-ctn-app {
  position: relative;
  height: 100%;
}

.cb-ctn-app-navbar {
  background-color: #fff;
}

.cb-ctn-app-navbar-home {
  transition: background-color 0.3s ease;
}

.cb-ctn-app-navbar-home-top {
  background-color: transparent;
  border: none;
  * {
    color: #fff !important;
  }
}

.cb-ctn-app-navbar-login {
  margin-right: 10px;
  margin-left: 10px;
}

.cb-ctn-app-content {
  margin-top: 50px;
}

.cb-ctn-app-content-home {
  margin-top: 0;
  padding: 0;
}
