.cb-ctn-app {
  height: 100%;
  position: relative;
}

.cb-ctn-app-navbar {
  background-color: $white;
}

.cb-ctn-app-navbar-home {
  transition: background-color .3s ease;
}

.cb-ctn-app-navbar-home-top {
  background-color: transparent;
  border: 0;

  * {
    color: $white;
  }
}

.cb-ctn-app-navbar-login {
  margin-left: 10px;
  margin-right: 10px;
}

.cb-ctn-app-content {
  margin-top: 50px;
}

.cb-ctn-app-content-home {
  margin-top: 0;
  padding: 0;
}
