// All URLs are relative to the `main.scss' file
@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 200;  
  src: url('../assets/fonts/Circular/lineto-circular-book.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Circular/lineto-circular-book.woff') format('woff'),
  url('../assets/fonts/Circular/lineto-circular-book.ttf') format('truetype'),
  url('../assets/fonts/Circular/lineto-circular-book.svg#lineto-circular-book') format('svg');
}

@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Circular/lineto-circular-medium.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Circular/lineto-circular-medium.woff') format('woff'),
  url('../assets/fonts/Circular/lineto-circular-medium.ttf') format('truetype'),
  url('../assets/fonts/Circular/lineto-circular-medium.svg#lineto-circular-medium') format('svg');
}

@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/Circular/lineto-circular-bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Circular/lineto-circular-bold.woff') format('woff'),
  url('../assets/fonts/Circular/lineto-circular-bold.ttf') format('truetype'),
  url('../assets/fonts/Circular/lineto-circular-bold.svg#lineto-circular-bold') format('svg');
}

@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Circular/lineto-circular-black.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Circular/lineto-circular-black.woff') format('woff'),
  url('../assets/fonts/Circular/lineto-circular-black.ttf') format('truetype'),
  url('../assets/fonts/Circular/lineto-circular-black.svg#lineto-circular-black') format('svg');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 100;
  src: url('../assets/fonts/Gotham/Gotham-Thin.otf');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/Gotham/Gotham-XLight.otf');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/Gotham/Gotham-Light.otf');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Gotham/Gotham-Book.otf');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Gotham/Gotham-Medium.otf');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/Gotham/Gotham-Bold.otf'); 
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Gotham/Gotham-Black.otf');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/Gotham/Gotham-Ultra.otf'); 
}
