.cb-model-card {
  background-color: $white;
  border-radius: 6px;
  overflow: hidden;
}

.cb-model-card-thumbnail {
  background-color: rgba(0, 0, 0, .1);
  height: 300px;  
}

.cb-model-card-caption {
  height: 100px;
}
