.cb-model-card {
  overflow: hidden;
  border-radius: 6px;
  background-color: $cb-white;
}

.cb-model-card-thumbnail {
  position: relative;
  display: block;
  overflow: hidden;
  height: 275px;
  border-radius: 6px;
}

.cb-model-card-thumbnail-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, .1);
  background-position: center center;
  background-size: cover;
  opacity: 0;
  transition: opacity 1.25s ease-in-out;

  &.is-active {
    opacity: 1;
    transition: opacity .75s ease-in-out;
  }
}

.cb-model-card-thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .3);
  opacity: 0;
  transition: opacity .3s ease;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.cb-model-card-caption {
  display: flex;
  padding: 15px;
  align-items: center;
}

.cb-model-card-caption-avatar {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $cb-primary;
  line-height: 45px;
  text-align: center;
  vertical-align: middle;
}

.cb-model-card-caption-avatar-icon {
  color: $cb-white;
  font-size: 18px;
}

.cb-model-card-caption-info {
  display: inline-block;
  margin-left: 10px;
}

.cb-model-card-caption-info-title {
  font-size: 1.25em;
}

.cb-model-card-caption-info-uploader {
  color: $cb-dark-gray;
  font-weight: 200;
}
