.cb-ctn-app {
  position: relative;
  height: 100%;
}

// NavBar
.cb-ctn-app-navbar {
  background-color: $cb-white;
}

.cb-ctn-app-navbar-home {
  transition: background-color .15s ease;
}

.cb-ctn-app-navbar-home-top {
  border: 0;
  background-color: transparent;
}

// NavBar Brand
.cb-ctn-app-navbar-brand {
  color: $cb-default;
}

.cb-ctn-app-navbar-brand-home-top {
  color: $cb-default;
}

// NavBar Button
.cb-ctn-app-navbar-login {
  margin-right: 10px;
  margin-left: 10px;
}

// NavBar Dropdown
.cb-ctn-app-navbar-dropdown {
  .dropdown-toggle span {
    color: $cb-default;
  }
}

.cb-ctn-app-navbar-dropdown-hometop {
  &:hover,
  &.open {
    .dropdown-toggle {
      background-color: rgba(0, 0, 0, 0.2) !important;
    }
  }

  .dropdown-toggle:focus {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }

  .dropdown-toggle span {
    color: #fff;
  }
}

// App Content
.cb-ctn-app-content {
  height: 100%;
  padding: 50px 0 0;
}

.cb-ctn-app-content-home {
  padding-top: 0;
}
