.cb-ctn-app {
  height: 100%;
  position: relative;
}

// NavBar
.cb-ctn-app-navbar {
  background-color: $cb-white;
}

.cb-ctn-app-navbar-home {
  transition: background-color .3s ease;
}

.cb-ctn-app-navbar-home-top {
  background-color: transparent;
  border: 0;
}

// NavBar Brand
.cb-ctn-app-navbar-brand {
  color: $cb-default;
}

.cb-ctn-app-navbar-brand-home-top {
  color: $cb-default;
}

// NavBar Button
.cb-ctn-app-navbar-login {
  margin-left: 10px;
  margin-right: 10px;
}

// App Content
.cb-ctn-app-content {
  height: 100%;
  padding: 50px 0 0;
}

.cb-ctn-app-content-home {
  padding-top: 0;
}
