.cb-ctn-app {
  position: relative;
  height: 100%;
}

// NavBar
.cb-ctn-app-navbar {
  border: 1px solid $cb-medium-gray;
  border-width: 0 0 1px;
  background-color: $cb-white;
}

// NavBar Brand
.cb-ctn-app-navbar-brand {
  color: $cb-default;
}

// NavBar Button
.cb-ctn-app-navbar-login {
  margin-right: 10px;
  margin-left: 10px;
}

// NavBar Dropdown
.cb-ctn-app-navbar-dropdown {
  .dropdown-toggle span {
    color: $cb-default;
  }
}

// App Content
.cb-ctn-app-content {
  height: 100%;
  padding: 50px 0 0;
}
