#search-field {
  width: 50% !important
}

.centered-60-div {
  margin: auto;
  width: 60%;
  align-items: left;
}

.label-25 {
  width: 25%;
  text-align: right;
}

.label-15 {
  width: 15%;
}

.component-div{
  padding-left: 20px;
  padding-right: 20px;
}

#dropdown-div{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}

.drop-menu{
  margin-right: 20px;
}

.card-div{
  height: 420px;
}