.cb-ctn-home {
  min-height: 100%;
}

// Hero
.cb-ctn-home-hero {
  align-items: center;
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;

  canvas {
    left: 50%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

.cb-ctn-home-hero-content {
  text-align: center;
  width: 100%;
}

.cb-ctn-home-hero-title {
  color: rgba(0, 0, 0, .2);
  font-size: 5em;
  font-weight: 200;
  padding-top: 50px;
}

.cb-ctn-home-hero-subtitle {
  font-size: 1.5em;
  padding: 10px 0 30px;
}

.cb-ctn-home-hero-signup {
  font-size: 1.25em;
  padding: 10px 20px;
}

.cb-ctn-home-hero-random {
  padding: 20px 100px;
}

.cb-ctn-home-hero-random-4-item {
  background-color: rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .2);
  height: 180px;
}

.cb-ctn-home-hero-random-6-item {
  background-color: rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .2);
  height: 90px;
}

// Popular
.cb-ctn-home-popular {
  background-color: $cb-light-gray;
  overflow: auto;
}

.cb-ctn-home-popular-header {
  padding: 30px 25px;
  text-align: center;
}

.cb-ctn-home-popular-content {
  padding: 15px 25px;
}

.cb-ctn-home-popular-item {
  margin-bottom: 25px;
}

.cb-ctn-home-popular-footer {
  padding: 30px 25px 45px;
  text-align: center;
}

// Category
.cb-ctn-home-category {
  background-color: #646464;
  color: #fff;
  overflow: auto;
  padding-bottom: 60px;
}

.cb-ctn-home-category-header {
  padding: 30px 25px;
  text-align: center;
}

.cb-ctn-home-category-item {
  background-color: rgba(255, 255, 255, .7);
  border: 1px solid $cb-white;
  height: 250px;
}
