.cb-ctn-model-edit {
  min-height: 100%;
  padding: 15px 50px;
  background: $cb-light-gray;
}

.cb-ctn-model-edit-info-label {
  color: $cb-dark-gray;
}

.cb-ctn-model-edit-info-content {

}

.cb-ctn-model-edit-section-container {
  padding: 25px 0;
  background: $cb-white;  
}

.cb-ctn-model-edit-walkthrough-form {
  padding: 10px 25px;
}

.cb-ctn-model-edit-walkthrough-playback {
  padding: 10px 25px;
}
